RewriteEngine On
RewriteBase /var/www/ominichanel.dev
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{HTTP_HOST} ^([a-z0-9-]+).ominichanel.dev [NC]
RewriteRule (.*) index.php?insubdominio=%1&inrouter=$1 [NC,L,QSA]
ErrorDocument 404 /404.php

AddHandler application/x-httpd-php8 .php