@tailwind base;
@tailwind components;
@tailwind utilities;


/* Arquivo CSS global ou módulo CSS */
.logo {
    width: 200px;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.logoDash {
    width: 180px;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
}

/* Estilos para telas médias */
@media screen and (min-width: 768px) {
    .logo {
        width: 300px;
        height: auto;
        margin-top: auto;
        margin-bottom: auto;
        /* Outros estilos para telas médias */
    }
}

/* Estilos para telas grandes */
@media screen and (min-width: 1200px) {
    .logo {
        width: 300px;
        height: auto;
        margin-top: auto;
        margin-bottom: auto;
        /* Outros estilos para telas grandes */
    }
}

.social-icons {
    display: flex;
    gap: 20px; /* Define o espaçamento entre os ícones */
}

.SidebarLogo {
    width: 50px;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
}

