@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}

body {
font-family: "Poppins";
-webkit-animation-delay: 0.1s;
-webkit-animation-name: fontfix;
-webkit-animation-duration: 0.1s;
-webkit-animation-iteration-count: 1;
-webkit-animation-timing-function: linear;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
-webkit-text-rendering: optimizeLegibility;
}