a,
a:hover,
a:active,
a:focus {
text-decoration: none;
outline: none;
color: #333;
}

strong {
font-weight: 700;
}

input,
input:hover,
input:active,
input:focus {
outline: none !important;
}

*,
*:hover,
*:active,
*:focus {
outline: none !important;
}