form {
}

.form-wizard {
display: block;
margin: auto;
padding: 20px 20px 6px 20px;
max-width: 900px;
}

.form-default {
display: block;
margin: auto;
padding: 40px 20px 40px 20px;
max-width: 900px;
}

.form-field-default {
margin-bottom: 20px;
width: 100%;
}

.form-field-default button {
width: 100%;
}

.form-field-radio {
display: inline-block;
margin-right: 8px;
padding: 12px 24px 10px 20px;
background: rgba(0,0,0,.05);
border-radius: 4px;
cursor: pointer;
}

.form-field-radio input[type=radio] {
transform: translateY(1px);
margin-right: 5px;
}

.form-field-terms {
display: inline-block;
width: 100%;
/*padding: 12px 24px 10px 20px;*/
/*background: rgba(0,0,0,.05);*/
border-radius: 4px;
cursor: pointer;
}

.form-field-terms input[type=radio] {
transform: translateY(1px);
margin-right: 5px;
}

input {
  filter: none;
}

label {
display: block;
min-height: 22px;
font-size: 14px;
font-weight: 600;
}

.form-tip {
display: block;
margin: 0 0 10px 0;
/*border: 1px dashed rgba(0,0,0,.2);*/
border-left: 3px solid #181439;
background: rgba(0,0,0,.05);
padding: 6px 12px 5px 12px;
text-align: center;
font-size: 12px;
line-height: 14px;
/*opacity: .75;*/
color: rgba(0,0,0,.6);
}

input[type=text],
input[type=email],
input[type=select],
input[type=textarea],
input[type=password],
textarea,
.maskmoney {
width: 100%;
border: 0;
padding: 15px 16px 12px 16px;
/*border: 1px solid rgba(0,0,0,.2);*/
border-radius: 4px;
/*background: #fff;*/
background: rgba(0,0,0,.05);
}

.form-100 input,
.form-100 select,
.form-100 textarea {
width: 100%;
}

.form-filters {

}

.form-filters label {
display: block;
min-height: 21px;
}

.form-filters button {
width: 100%;
background: rgba(0,0,0,.05);
/*border: 1px solid rgba(0,0,0,.2);*/
background: rgba(0,0,0,.05);
padding: 16px 10px 12px 16px;
}

.form-filters button span {
margin-right: 6px;
font-size: 14px;
font-weight: 600;
color: #181439;
text-transform: uppercase;
transition: 0.2s;
}

.form-filters button i {
margin-right: 0;
}

.fake-select {
max-width: 100%;
border: 0;
padding: 0;
/*border: 1px solid rgba(0,0,0,.2);*/
border-radius: 4px;
/*background: #fff;*/
/*overflow: hidden;*/
}

.fake-select select {
display: block;
-moz-appearance:none;
-webkit-appearance:none;
appearance:none;
padding: 15px 16px 13px 16px;
border: 0;
width: 100.3%;
background: rgba(0,0,0,.05);
}

.fake-select i {
position: absolute;
pointer-events: none;
margin: 19px 30px 0 0;
right: 0;
text-align: center;
color: #ff4e0e;
}

.form-field {
width: 100%;
}

.form-field-submit {
margin-top: 14px;
}

.form-field-submit button {
float: right;
}

.form-field-checkbox {
padding-top: 27px;
}

.form-field-checkbox input[type=checkbox] {
margin-right: 8px;
transform: translateY(1px);
}

.form-field input[type=text],
.form-field input[type=email],
.form-field input[type=select],
.form-field input[type=textarea],
.form-field input[type=password] {
width: 100%;
}

.form-field-icon input[type=text],
.form-field-icon input[type=email],
.form-field-icon input[type=select],
.form-field-icon input[type=textarea],
.form-field-icon input[type=password] {
padding-left: 40px;
}

button {
border: 0;
padding: 16px 23px 12px 26px;
/*border: 1px solid #181439;*/
border-radius: 4px;
background: #181439;
text-align: center;
}

button span {
color: #fff;
}

button i {
margin-left: 5px;
color: #ff4e0e;
}

.fakebutton {
border: 0;
padding: 16px 10px 12px 10px;
/*border: 1px solid rgba(0,0,0,.2);*/
border-radius: 4px;
background: rgba(0,0,0,.05);
text-align: center;
}

.fakebutton span {
color: #666;
}

.fakebutton i {
margin-right: 3px;
color: #ff4e0e;
font-size: 12px;
}

.backbutton {
border: 0;
padding: 16px 0 12px 0;
/*border: 1px solid rgba(0,0,0,.2);*/
border-radius: 4px;
/*background: rgba(0,0,0,.05);*/
text-align: center;
}

.backbutton span {
color: #666;
}

.backbutton i {
margin-right: 3px;
color: #ff4e0e;
font-size: 12px;
}

.login .backbutton {
float: left;
}

.form-field-icon .form-icon {
display: block;
pointer-events: none;
color: #ff4e0e;
transform: translateY(34px) translateX(16px);
}

label.error {
/*position: absolute;*/
color: #cf000f;
margin-top: 1px;
font-size: 12px;
font-weight: 400;
margin-bottom: -5px;
}

.fakehidden {
width: 0 !important;
height: 0 !important;
opacity: 0 !important;
margin: 0 !important;
padding: 0 !important;
}

.fakehidden + .error {
margin-top: -20px;
}

input[name=subdominio] + .error {
white-space: nowrap;
}

#image-upload + .error,
#image-upload2 + .error {
margin: auto;
left: 0;
right: 0;
position: absolute;
bottom: 20px;
background: #cf000f;
color: #fff;
border-radius: 4px;
padding: 6px 8px 4px 8px;
font-size: 12px;
text-align: center;
max-width: 90px;
}

.filter-select .outside {
position: absolute;
transform: translateY(2px);
background: rgba(0,0,0,.05);
border-radius: 4px;
font-size: 14px;
padding: 7px 6px 5px 6px;
text-align: center;
font-weight: 600;
}

.filter-select .fake-select {
/*background: red;*/
}

.filter-select .fake-select select {
background: transparent;
padding: 7px 25px 2px 36px !important;
width: 150px !important;
}

.filter-select .fake-select i {
margin: 11px 15px 0 0 !important;
}

/* US */

@media (max-width: 320px)  {

}

/* XS */

@media (max-width: 544px)  {

}

/* SMALL */

@media (min-width: 545px) and (max-width: 767px)  {

}

/* MEDIUM */

@media (min-width: 546px) and (max-width: 991px)  {

}

/* LARGE */

@media (min-width: 992px) and (max-width: 1199px)  {

}

/* EXTRA LARGE */

@media (min-width: 1200px) {

}

/* ALL MOBILE */

@media (max-width: 991px) {

	.form-field-checkbox {
	padding-top: 16px;
	text-align: center;
	}

	.form-field-submit button {
	width: 100%;
	}

	button {
	padding-left: 6px;
	padding-right: 6px;
	text-align: center;
	width: 100%;
	}

	.fakebutton {
	width: 100%;
	padding-left: 6px;
	padding-right: 6px;
	text-align: center;
	width: 100%;
	}

	label.error {
	width: 100%;
	text-align: center;
	}

	.form-default {
	padding: 0 0 6px 0;
	}

	.form-field-default {
	margin-bottom: 14px;
	}

	.form-field-submit {
	margin-top: 5px;
	}

	input[name=subdominio] + .error {
	white-space: normal;
	}

	label.error {
	margin-bottom: 5px;
	}

	.form-field-radio {
	display: block;
	float: left;
	width: 47.5%;
	text-align: center;
	margin-right: 1%;
	padding: 12px 4px 10px 4px;
	background: rgba(0,0,0,.05);
	border-radius: 4px;
	cursor: pointer;
	}

	.form-field-radio input[type=radio] {
	margin-right: 3px;
	}

	.form-field-radio:nth-child(3) {
	float: right;
	}

	.form-wizard {
	padding: 0;
	}

	input[name=keepalive] {
	margin-bottom: 16px !important;
	}

	.filter-select .fake-select select {
	padding: 6px 25px 3px 36px !important;
	font-size: 15px !important;
	}

}