.novoproduto {
margin: auto auto 10px auto;
border: 1px solid rgba(0,0,0,.07);
border-radius: 6px;
padding: 12px 12px 12px 12px;
/*background: rgba(0,0,0,.025);*/
}

.novoproduto .capa {
display: flex;
/*align-items: center;*/
/*justify-content: center;*/
border-radius: 6px;
overflow: hidden;
width: 100%;
height: 100px;
}

.novoproduto .capa img {
display: block;
margin: auto;
width: 100%;
border-radius: 6px;
}

.novoproduto .nome {
display: block;
margin: 0 0 5px 0;
font-weight: 600;
font-size: 14px;
line-height: 16px;
}

.novoproduto .descricao {
display: block;
font-weight: 400;
font-size: 12px;
line-height: 14px;
color: rgba(0,0,0,.5);
/*word-break: break-all;*/
/*overflow-wrap: break-word;*/
}

.novoproduto .preco {
margin: 6px 0 0 0;
}

.novoproduto .preco .valor_anterior {
display: block;
margin: 0 0 -1px 0;
text-align: left;
font-size: 12px;
line-height: 14px;
color: rgba(0,0,0,.5);
}

.novoproduto .preco .blank_valor_anterior {
display: block;
width: 100%;
height: 7px;
color: rgba(0,0,0,.5);
}

.novoproduto .preco .valor {
display: block;
margin: 0 0 0 0;
font-size: 14px;
line-height: 16px;
font-weight: 600;
}

.valor-green {
color: rgba(16,185,129,.9) !important;
}

.novoproduto .plus-holder {
float: right;
}

.novoproduto .plus {
display: block;
float: left;
margin: 0 0 0 0;
background: #e22f38;
color: #fff;
border-radius: 6px 0 0 6px;
text-align: center;
width: 26px;
height: 26px;
font-size: 18px;
line-height: 27px;
font-weight: 600;
}

.novoproduto .plus-desc {
display: block;
float: left;
margin: 0 0 0 0;
background: #e22f38;
border-radius: 0 6px 6px 0;
text-align: center;
height: 26px;
font-size: 12px;
line-height: 27px;
padding: 0 6px 0 6px;
border-left: 1px solid rgba(255,255,255,.2);
background: rgba(0,0,0,.06);
}

.categoria .novo-vertudo {
display: block;
width: 100%;
margin: 14px 0 16px 0;
text-align: center;
border-bottom: 1px solid rgba(0,0,0,.05);
border-radius: 6px;
padding-bottom: 18px;
}

.categoria .novo-vertudo i {
margin-left: 5px;
transform: translateY(2px);
}

.categoria .title {
margin-bottom: 14px;
}

.radios-full {
display: flex;
}

.radios-full .form-field-radio {
width: 100%;
}

.radios-full label.error {
position: absolute;
margin: 10px 0 0 -20px;
}

.sacola-adicionar {
user-select: none;
}

.sacola-adicionar span {
transform: translateY(0);
}

.sacola-adicionar i {
margin: 0 8px 0 0;
transform: translateY(-1px);
font-size: 12px;
font-weight: 700;
}

.botao-fechar-compra {
margin-top: 14px;
}

/* US */

@media (max-width: 320px)  {

}

/* XS */

@media (max-width: 544px)  {

}

/* SMALL */

@media (min-width: 545px) and (max-width: 767px)  {

}

/* MEDIUM */

@media (min-width: 546px) and (max-width: 991px)  {

}

/* LARGE */

@media (min-width: 992px) and (max-width: 1199px)  {

}

/* EXTRA LARGE */

@media (min-width: 1200px) {

}

/* ALL MOBILE */

@media (max-width: 991px) {

	body,
	html {
	-webkit-overflow-scrolling: touch;
	}

	.novoproduto {
	padding: 12px 12px 12px 12px;
	}

	.novoproduto .capa {
	min-height: 120px;
	float: right;
	max-width: 120px;
	}

	.novoproduto .capa img {
	min-height: 0px;
	}

	.novoproduto .lp {
	padding-left: 5px;
	padding-right: 5px;
	}

	.novoproduto .npr {
	padding-right: 0;
	}

	.novoproduto .plus {
	margin: 0 0 0 0;
	}

	.novoproduto:last-child {
	margin-bottom: 18px;
	}

	.categoria .novo-vertudo {
	margin: -6px 0 -2px 0;
	padding-bottom: 12px;
	}

	.novoproduto .row-add {
	margin-top: 10px;
	}

	.subtotal-adicionar {
	position: fixed;
	width: 92%;
	padding: 8px 8px 8px 8px !important;
	margin: auto;
	z-index: 10;
	bottom: 10px;
	background: rgba(255,255,255,.98);
	box-shadow: 0 0 10px rgba(0,0,0,.4);
	border-radius: 6px;
	}

	.npr {
	padding-right: 0;
	}

	.subtotal-adicionar .row {
	display: flex;
	align-items: center;
	justify-content: center;
	}

	.subtotal {
	display: block;
	padding: 5px 0 0 0;
	text-align: center;
	font-size: 16px;
	}

	.sacola-adicionar {
	padding: 8px 5px 6px 5px;
	}

	.sacola-adicionar i {
	margin: 0 8px 0 0;
	transform: translateY(0);
	font-size: 12px;
	font-weight: 700;
	}

	.space-brand {
	width: 100%;
	height: 55px;
	}

	.relacionados {
	margin-top: -34px;
	}

}

/* CAIXOTE */

@media (min-width: 992px) and (max-width: 1024px) {

}

@media (min-width: 1180px) {

}
